.create_ad {
    background-image: url(/src/assets/img/createad/ad.png);
    height: 554px;
    width: auto;
    margin-top: 180px;
    margin-bottom: 100px;
}

.ad_labels {
    width: 820px;
    height: auto;
    margin-left: 50px;
    padding-top: 50px;
}

.ad_title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 5px;
    color: #fff;
}

.ad_subtitle {
    color: #fff;
    letter-spacing: 5px;
    margin-bottom: 30px;
}

.create_btn {
    margin-top: 67px;
    margin-left: 50px;
}

.create_btn a {
    color: #4d5aff;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 17px 175px 17px 175px;
    border-radius: 30px;
    background-color: #fff;
}

.slider_buttons {
    display: flex;
    justify-content: flex-end;
    padding-right: 250px;
    gap: 30px;
    background-color: #ffffff;
    color: #ffffff;
}
.left-button {
    background-color: #ffffff;
    color: #ffffff;
    padding: 0;
    border: none;
    background: none;
}
.right-button {
    background-color: #ffffff;
    color: #ffffff;
    padding: 0;
    border: none;
    background: none;
}
